<nav class="navbar navbar-default navbar-embossed" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="./" data-original-title="大连育明搞基中学" data-placement="right" data-toggle="tooltip" class="btn btn-default mrs" type="button">YMCraft</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home<span class="navbar-unread">1</span></a></li>
    </ul>
  </div>
</nav>