<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title>ymoi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//cdn.bootcss.com/flat-ui/2.2.2/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/flat-ui/2.2.2/css/flat-ui.min.css" rel="stylesheet">
    <link href="./static/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="./static/img/favicon.ico">
  </head>
  <body>
      <div class="container">
        {{template "base/navbar.html" .}}