body {
  background-color: #;
}

div {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

#base {
  position: relative;
  margin: 90px auto 0;
  width: 526px;
  /* Top */
}
#base div {
  border: 9px solid #2a4e9b;
}
#base #top {
  border: none;
  width: 526px;
  height: 218px;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
#base #top .i {
  background-color: #02b8e8;
  overflow: hidden;
}
#base #top .i::before, #base #top .i::after {
  content: '';
  display: block;
  position: absolute;
}
#base #top .i::before, #base #top .i.i-0 {
  background-color: #f5f1ee;
}
#base #top .i .shadow {
  border: none;
  height: 160px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.12);
  top: -80px;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
#base #top .i.i-0 {
  opacity: 0;
  width: 64px;
  height: 64px;
  top: 3px;
  left: 430px;
  border-radius: 50%;
}
#base #top .i.i-1 {
  width: 0;
  height: 22px;
  top: 24px;
  left: 245px;
  border-radius: 4px;
}
#base #top .i.i-2 {
  width: 51px;
  height: 14px;
  top: 28px;
  left: 262px;
  border-left: none;
}
#base #top .i.i-2::after {
  border: none;
  width: 100%;
  height: 18px;
  right: 0;
  top: -9px;
  box-shadow: 0 18px 0 rgba(0, 0, 0, 0.16);
}
#base #top .i.i-2 .shadow {
  left: 42px;
}
#base #top .i.i-3 {
  width: 50px;
  height: 40px;
  top: 15px;
  left: 263px;
  border-right: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
#base #top .i.i-3::before {
  border: 9px solid #2a4e9b;
  border-top: none;
  border-bottom: none;
  width: 40px;
  height: 100%;
  left: 34px;
}
#base #top .i.i-3::after {
  width: 100%;
  height: 18px;
  right: 0;
  top: -22px;
  box-shadow: 0 18px 0 rgba(225, 225, 225, 0.42), 0 54px 0 rgba(0, 0, 0, 0.16);
}
#base #top .i.i-3 .shadow {
  left: 112px;
}
#base #top .i.i-4 {
  width: 80px;
  height: 54px;
  top: 7px;
  left: 263px;
  border-right: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
#base #top .i.i-4::before {
  border: 9px solid #2a4e9b;
  border-top: none;
  border-bottom: none;
  width: 40px;
  height: 100%;
  left: 52px;
}
#base #top .i.i-4::after {
  width: 100%;
  height: 18px;
  right: 0;
  top: -11px;
  box-shadow: 0 18px 0 rgba(225, 225, 225, 0.42), 0 54px 0 rgba(0, 0, 0, 0.16);
}
#base #top .i.i-4 .shadow {
  left: 140px;
}
#base #top .i.i-5 {
  width: 84px;
  height: 70px;
  left: 263px;
  border-radius: 9px;
}
#base #top .i.i-5::before {
  border-left: 9px solid #2a4e9b;
  width: 10px;
  height: 100%;
  right: 0;
}
#base #top .i.i-5::after {
  width: 100%;
  height: 18px;
  right: 0;
  top: -1px;
  box-shadow: 0 18px 0 rgba(225, 225, 225, 0.42), 0 54px 0 rgba(0, 0, 0, 0.16);
}
#base #body {
  border: none;
  width: 42px;
  height: 42px;
  top: 88px;
  left: 242px;
}
#base #body .o-1,
#base #body .o-2 {
  overflow: hidden;
}
#base #body .o-shadow {
  border: none;
  height: 120px;
  width: 40px;
  left: -12px;
  background-color: rgba(0, 0, 0, 0.22);
}
#base #body .sq {
  opacity: 0;
  background-color: transparent;
  border-color: transparent;
  width: 20px;
  height: 0;
  top: 20px;
  left: 2px;
}
#base #body .el {
  opacity: 0;
  background-color: #d9cd44;
  width: 24px;
  height: 24px;
  top: -54px;
  border-radius: 50%;
  box-shadow: inset 6px -6px 0 rgba(0, 0, 0, 0.2);
}
#base #body .j {
  background-color: #02b8e8;
  overflow: hidden;
}
#base #body .j::after {
  content: '';
  display: block;
  position: absolute;
}
#base #body .j.o-left {
  border: none;
  background-color: transparent;
  top: -330px;
  height: 696px;
  width: 42px;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
#base #body .j.o-left .o-1 {
  background-color: #0199da;
  opacity: 0;
  width: 6px;
  height: 6px;
  left: 21px;
  top: 348px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
#base #body .j.o-left .o-1 .o-shadow {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
#base #body .j.o-right {
  border: none;
  background-color: transparent;
  top: -330px;
  height: 696px;
  width: 42px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
#base #body .j.o-right .o-2 {
  background-color: #0199da;
  opacity: 0;
  width: 6px;
  height: 6px;
  left: 21px;
  top: 348px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
#base #body .j.o-right .o-2 .o-shadow {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
#base #body .j.j-1 {
  opacity: 0;
  background-color: transparent;
  border-color: transparent;
  width: 20px;
  height: 0;
  top: 12px;
  left: 21px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
#base #body .j.j-1::after {
  width: 100%;
  height: 7px;
  top: 2px;
  background-color: rgba(0, 0, 0, 0.16);
}
#base #body .j.j-2 {
  opacity: 0;
  background-color: transparent;
  border-color: transparent;
  width: 20px;
  height: 0;
  top: 30px;
  left: 21px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
#base #body .j.j-2::after {
  width: 100%;
  height: 14px;
  top: 8px;
  background-color: rgba(0, 0, 0, 0.16);
}
#base #body .j.j-3 {
  opacity: 0;
  width: 6px;
  height: 6px;
  top: 47px;
  left: 21px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
#base #body #floor {
  opacity: 0;
  width: 10px;
  top: 315px;
  left: 21px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.num1 {
  -webkit-animation: num1 1s ease-in-out forwards;
          animation: num1 1s ease-in-out forwards;
}

@-webkit-keyframes num1 {
  to {
    left: 410px;
  }
}

@keyframes num1 {
  to {
    left: 410px;
  }
}
.num2 {
  -webkit-animation: num2 1s ease-in-out forwards;
          animation: num2 1s ease-in-out forwards;
}

@-webkit-keyframes num2 {
  to {
    left: 46px;
  }
}

@keyframes num2 {
  to {
    left: 46px;
  }
}
.num3 {
  -webkit-animation: num3 1s ease-in-out forwards;
          animation: num3 1s ease-in-out forwards;
}

@-webkit-keyframes num3 {
  to {
    left: 64px;
  }
}

@keyframes num3 {
  to {
    left: 64px;
  }
}
.num4 {
  -webkit-animation: num4 1s ease-in-out forwards;
          animation: num4 1s ease-in-out forwards;
}

@-webkit-keyframes num4 {
  to {
    left: 114px;
    width: 124px;
  }
}

@keyframes num4 {
  to {
    left: 114px;
    width: 124px;
  }
}
.num5 {
  -webkit-animation: num5 1s ease-in-out forwards;
          animation: num5 1s ease-in-out forwards;
}

@-webkit-keyframes num5 {
  to {
    left: 245px;
    width: 160px;
  }
}

@keyframes num5 {
  to {
    left: 245px;
    width: 160px;
  }
}
.num6 {
  -webkit-animation: num6 .4s ease-in-out 1s forwards;
          animation: num6 .4s ease-in-out 1s forwards;
}

@-webkit-keyframes num6 {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    left: 444px;
  }
}

@keyframes num6 {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    left: 444px;
  }
}
.num7 {
  -webkit-animation: num7 .4s ease-in-out 1.4s forwards;
          animation: num7 .4s ease-in-out 1.4s forwards;
}

@-webkit-keyframes num7 {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes num7 {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
.num8 {
  -webkit-animation: num8 .4s ease-in-out 1.8s forwards;
          animation: num8 .4s ease-in-out 1.8s forwards;
}

@-webkit-keyframes num8 {
  from {
    opacity: 1;
    background-color: #f5f1ee;
  }
  to {
    background-color: #f5f1ee;
    opacity: 1;
    top: -24px;
    height: 20px;
    border-color: #2a4e9b;
  }
}

@keyframes num8 {
  from {
    opacity: 1;
    background-color: #f5f1ee;
  }
  to {
    background-color: #f5f1ee;
    opacity: 1;
    top: -24px;
    height: 20px;
    border-color: #2a4e9b;
  }
}
.num9 {
  -webkit-animation: num9 .8s ease-in-out 1.8s forwards;
          animation: num9 .8s ease-in-out 1.8s forwards;
}

@-webkit-keyframes num9 {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
    background-color: #f5f1ee;
    border-color: #2a4e9b;
    width: 20px;
    height: 8px;
    top: 30px;
  }
  100% {
    opacity: 1;
    background-color: #f5f1ee;
    border-color: #2a4e9b;
    width: 70px;
    height: 8px;
    top: 30px;
  }
}

@keyframes num9 {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
    background-color: #f5f1ee;
    border-color: #2a4e9b;
    width: 20px;
    height: 8px;
    top: 30px;
  }
  100% {
    opacity: 1;
    background-color: #f5f1ee;
    border-color: #2a4e9b;
    width: 70px;
    height: 8px;
    top: 30px;
  }
}
.num10 {
  -webkit-animation: num10 .8s ease-in-out 2.2s forwards;
          animation: num10 .8s ease-in-out 2.2s forwards;
}

@-webkit-keyframes num10 {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
    background-color: #02b8e8;
    border-color: #2a4e9b;
    width: 20px;
    height: 14px;
    top: 47px;
  }
  100% {
    opacity: 1;
    background-color: #02b8e8;
    border-color: #2a4e9b;
    width: 100px;
    height: 14px;
    top: 47px;
  }
}

@keyframes num10 {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
    background-color: #02b8e8;
    border-color: #2a4e9b;
    width: 20px;
    height: 14px;
    top: 47px;
  }
  100% {
    opacity: 1;
    background-color: #02b8e8;
    border-color: #2a4e9b;
    width: 100px;
    height: 14px;
    top: 47px;
  }
}
.num11 {
  -webkit-animation: num11 .4s ease-in-out 3s forwards;
          animation: num11 .4s ease-in-out 3s forwards;
}

@-webkit-keyframes num11 {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    height: 256px;
  }
}

@keyframes num11 {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    height: 256px;
  }
}
.num99 {
  -webkit-animation: num99 .4s ease-in-out 3s forwards;
          animation: num99 .4s ease-in-out 3s forwards;
}

@-webkit-keyframes num99 {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    height: 330px;
  }
}

@keyframes num99 {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    height: 330px;
  }
}
.num0 {
  -webkit-animation: num0 .4s ease-in-out 3s forwards;
          animation: num0 .4s ease-in-out 3s forwards;
}

@-webkit-keyframes num0 {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    width: 500px;
  }
}

@keyframes num0 {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    width: 500px;
  }
}
.numA {
  -webkit-animation: numA .6s ease-in-out 3.4s forwards;
          animation: numA .6s ease-in-out 3.4s forwards;
}

@-webkit-keyframes numA {
  to {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

@keyframes numA {
  to {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}
